<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kabbil_website</title>
</head>
<style>     
    body {
            text-align: center; /* center inline elements like img, text, form */
            font-family: consolas;
        }

</style>

<body>
    <h1> <center> Thanks for Visiting</center> </h1>
    <p>
    <a href="/" style="
        display: inline-block;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
    ">
        Go back to home
    </a>
    </p>
</body>
</html>